;(function ($) {

  var pusher = new Pusher('<%= ENV["6e3b8940d500b53ee06d"] %>');
  // Subscribe to channel name here
  var channel = pusher.subscribe('chat');

  // Bind to event name
  channel.bind('new_message', function (data) {
    // Code smell - Duplicated view
    // It's exactly app/views/chat_messages/_chat_message.html
    $('.chat_messages').prepend('<li>' + data.name + ' says ' + data.message + '</li>');
  });
}(jQuery));